*{
	font-family:"Open Sans", "Helvetica", "Droid Sans", sans-serif;

}

body{
	margin:0;
	padding:0;
	background: #F2D6E6;
	
	width: 100%;
	text-align: center;
}

.landing{
	max-width:1104px;
	margin:0 auto;
}

.lion-img{
	max-width:500px;
}

.lion-title, .lion-paragraph{
	margin:0;
	padding: 0;
}

.lion-title{
	padding-right:15px;
	text-align: right;
}

.subtitle{
	color: #999;
	text-transform: uppercase;
	letter-spacing: 15px;
}

.lion-paragraph{
	padding:0 15px;
	text-align: left;
	text-align:justify;
}

.centered{/*outer - div align center*/
	width: 100%;
	text-align: center;
}

.next{
	display: inline-block;/*inner - div align center*/
	margin:0 auto;
	position:fixed;
	bottom:15px;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.next > .line{	
	position: absolute;
	bottom: 25px;
	background: #333;
	width: 50px;
	height: 2px;
	margin: 0;
	padding: 0;
}
.next > .line:hover{
	background: #999;
}

.next > .custom-line1{
	transform: rotate(45deg);
}

.next > .custom-line2{
	margin-left: 35px;
	transform: rotate(315deg);
}