body{
	margin: auto;
	width: 100%;
	font-family: "Verdana", sans-serif;
}

.container{
	width: 60em;
	margin: 0 auto;	
}

header{	
	background: #2A85FF;
	height: 100px;
	width: 100%;
	top: 0px;
	position: fixed;
}
.logo{	
	margin-top: 10px;
	float: left;

}
nav{
	padding-top:30px;
}
ul{
	float: right;
}
li{
	float: left;
	margin-left: 15px;
	list-style-type: none;
}
a{
	color: #FFF;
	text-decoration:none;
}
p{
	padding-top: 100px;
	clear: both;
	text-align: justify;
}
footer{
	background: #333;
	color: #DDD;
	clear: both;
	position:relative;
	bottom: 0;
	width: 100%
}